.contactContainer{
    width: 80%;
    height: 600px;
    margin: 30px auto;
background-image: linear-gradient(to right, rgb(57, 57, 229), rgb(237, 135, 152));

    padding: 30px;
}
.formContainer{
    width: 100%;
    padding:15px ;

}
input{
    padding: 7px;
    display: inline-block;
    margin-bottom: 10px;
    border:  3px solid white;
}
input:focus{
      border:  3px solid rgb(70, 30, 203);
  
}